body {
  padding-top: 50px;
}

.app-header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 100;

  img {
    height: 80%;
    margin-top: 5px;
    margin-left: 5px;
  }

  .fa {
    float: right;
    font-size: 34px;
    margin-right: 20px;
    margin-top: 7px;
  }
}

.app-main {
  margin-top: 20px;
}

.txhistory {
  margin: 10px;

  .txlist-transaction {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow-x: hidden;

    .label {
      font-size: 14px;
      padding: 3px;
    }
    .tx-interest {
      color: #4caf50;
    }
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);

  &-inner {
    width: 200px;
    background: #fff;
    height: 100%;
    float: right;

    .fa {
      float: right;
      font-size: 34px;
      margin-right: 20px;
      margin-top: 7px;
    }
    .nav-menu-items {
      margin-top: 70px;

      div {
        margin-bottom: 25px;
        font-size: 16px;
        margin-left: 20px;
      }
    }
  }
}

.send {
  position: fixed;
  top: 54px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 140;
  background: #fff;

  .steps {
    position: absolute;
    left: -15px;
  }
  .step {
    padding: 28px 31px;
  }
  .send-step {
    margin-left: 32px;
  }
  .panel-heading {
    padding: 2px 30px;
    border: none;
  }
  .panel {
    box-shadow: none;
  }
  .step-title {
    padding-bottom: 20px;
  }
}

.no-padding-left {
  padding-left: 0;
}

.dashboard-refresh {
  font-size: 24px;
  float: right;
  margin-right: 26px;
}