.addcoin-ui {
  min-height: 100vh;
  
  .home-inner {
    height: 100%;
    position:relative;
    margin: auto;
    min-height: 100vh;
  }

  .home {
    height: inherit;
    padding-bottom: 10px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;

    .overview-coins {
      top: 0;
      position: relative;
      height: 100%;
  
      .overview-coin {
        height: 80px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  
        &:last-child {
          border-bottom: none;
        }
        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
  
      .bitcoin {
        padding-top: 34px;
        text-transform: uppercase;
        left: 74px;
      }
    }

    .div1 {
      opacity: 0.1;
      position: absolute;
      margin-top: 80px;
    }
  
    .a1241 {
      padding-top: 45px;
      height: auto;
      width: auto;
      float: right;
      padding-right: 14px;
      margin: 0;
      font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
      font-size: 13px;
      color: rgba(126, 210, 33, 1.0);
      text-align: right;
      letter-spacing: -0.58px;
      line-height: 16.0px;
    }
  
    .path5 {
      padding-top: 50px;
      height: 6px;
      width: 10px;
      position: absolute;
      margin: 0;
      left: 345px;
    }
  
    .btc {
      padding-top: 22px;
      height: 40px;
      width: 40px;
      position: absolute;
      margin: 0;
      left: 20px;

      .oval4 {
        height: 40px;
        width: 40px;
        margin: 0;
        border-radius: 50%;
        border: solid 2px #fff;
        background: #fff;
      }
    
      .shape {
        top: 11px;
        height: 18px;
        width: 13px;
        position: absolute;
        margin: 0;
        left: 13px;
      }
    }
  
    .bitcoin {
      padding-top: 23px;
      height: auto;
      width: auto;
      position: absolute;
      margin: 0;
      left: 70px;
      font-family: 'Helvetica', Helvetica, Arial, serif;
      font-size: 14px;
      color: #fff;
      text-align: left;
      letter-spacing: -0.58px;
      line-height: 17.0px;
    }
  
    .a0000041 {
      padding-top: 45px;
      height: auto;
      width: auto;
      position: absolute;
      margin: 0;
      left: 70px;
      opacity: 0.65;
      font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
      font-size: 14px;
      color: #fff;
      text-align: left;
      letter-spacing: -0.1px;
      line-height: 16px;
      font-weight: 300;
    }
  
    .a123345 {
      padding-top: 23px;
      height: auto;
      width: auto;
      position: absolute;
      margin: 0;
      left: 280px;
      font-family: 'Helvetica', Helvetica, Arial, serif;
      font-size: 14px;
      color: #fff;
      text-align: right;
      letter-spacing: -0.58px;
      line-height: 17px;
    }
  
    .combinedshape {
      top: 45px;
      height: 14px;
      width: 20px;
      position: absolute;
      margin: 0;
      left: 20px;
    }
  
    .portfolio {
      top: 42px;
      height: auto;
      width: auto;
      position: absolute;
      margin: 0;
      left: 153px;
      font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
      font-size: 18px;
      color: #fff;
      text-align: left;
      letter-spacing: -0.56px;
      line-height: 22px;
    }
  
    .combinedshape1 {
      top: 41px;
      height: 22px;
      width: 20px;
      position: absolute;
      margin: 0;
      left: 333px;
    }
  
    .oval1 {
      top: 40px;
      height: 8px;
      width: 8px;
      position: absolute;
      margin: 0;
      left: 347px;
    }
  
    .yourcoins {
      top: 274px;
      height: auto;
      width: auto;
      position: absolute;
      margin: 0;
      left: 20px;
      font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
      font-size: 18px;
      color: #fff;
      text-align: left;
      letter-spacing: -0.56px;
      line-height: 22px;
    }
  
    .combinedshape2 {
      top: 312px;
      height: 26px;
      width: 26px;
      position: absolute;
      margin: 0;
      left: 331px;
    }
  }
}