.form.create-seed {
  .seed-gen-box {
    background-color: #373A4C;
    height: auto;
    width: auto;
    margin: 0;
    font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 26px;
    padding: 20px 20px;
  }
  .edit {
    width: 95%;
    padding: 10px 10px 11px 10px;
  }
  .group3 {
    top: 20px;
    left: 0;
    position: relative;
    margin: 0 auto;
  }
}