.form.exchanges {
  .exchanges-menu {
    position: absolute;
    top: -13px;
    right: 15px;
  }

  .steps {
    padding: 22px 0 38px 0;
    text-align: center;

    div {
      display: inline-block;
      margin: 0 5px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #383a4e;

      &.current {
        background-color: #fff;
      }
    }
  }
  .step-title {
    text-align: center;
  }
  .exchanges-order-confirm-step {
    .shade {
      font-size: 13px;
    }
    .edit {
      font-size: 14px;
      width: inherit;
      max-width: inherit;
      padding: 15px 10px 10px 10px;
  
      input {
        font-size: 12px;
        margin-top: 6px;
        opacity: 0.8;
      }
      &.success {
        text-transform: capitalize;
      }
    }
  }
  .edit {
    &.coin {
      font-size: 14px;      
      line-height: 10px;

      img {
        margin-left: 40px;
        margin-right: 5px;
        width: 30px;
      }
      .label {
        position: relative;
        top: -9px;
      }
      i {
        position: relative;
        top: -8px;
        left: 10px;
      }
    }
    &.empty {
      height: 30px;

      .label {
        position: relative;
        top: 9px;

        &.empty {
          margin-left: 40px;
        }
      }
      i {
        top: 9px;
      }
    }
  }
  .addcoin-ui {
    .home {
      .overview-coin {
        &.disabled {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
  
  .btn-inner {
    &.pull-left {
      margin-left: 10px;
      padding: 0 10px;

      .group2 {
        float: left;
        left: -14px;
      }
      .btn {
        float: right;
        position: relative;
        left: 40px;
        top: 1px;
        padding-right: 50px;
      }
      img {
        width: 20px;
        height: 13px;
      }
    }
    &.pull-right {
      margin-right: 10px;
      padding: 0 10px;

      .btn {
        position: relative;
        left: 8px;
        top: 0;
      }
    }
  }
}