.form.exchanges {
  .exchanges-menu {
    position: absolute;
    top: -13px;
    right: 15px;
  }

  .steps {
    padding: 22px 0 38px 0;
    text-align: center;

    div {
      display: inline-block;
      margin: 0 5px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #383a4e;

      &.current {
        background-color: #fff;
      }
    }
  }
  .step-title {
    text-align: center;
  }
  .exchanges-order-confirm-step {
    .shade {
      font-size: 13px;
    }
    .edit {
      font-size: 14px;
      width: inherit;
      max-width: inherit;
      padding: 15px 10px 10px 10px;
  
      input {
        font-size: 12px;
        margin-top: 6px;
        opacity: 0.8;
      }
      &.success {
        text-transform: capitalize;
      }
    }
  }
  .edit {
    &.coin {
      font-size: 14px;      
      line-height: 10px;

      img {
        margin-left: 40px;
        margin-right: 5px;
        width: 30px;
      }
      .label {
        position: relative;
        top: -9px;
      }
      i {
        position: relative;
        top: -8px;
        left: 10px;
      }
    }
    &.empty {
      height: 30px;

      .label {
        position: relative;
        top: 9px;

        &.empty {
          margin-left: 40px;
        }
      }
      i {
        top: 9px;
      }
    }
  }
  .addcoin-ui {
    .home {
      .overview-coin {
        &.disabled {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
  
  .btn-inner {
    &.pull-left {
      margin-left: 10px;
      padding: 0 10px;

      .group2 {
        float: left;
        left: -14px;
      }
      .btn {
        float: right;
        position: relative;
        left: 40px;
        top: 1px;
        padding-right: 50px;
      }
      img {
        width: 20px;
        height: 13px;
      }
    }
    &.pull-right {
      margin-right: 10px;
      padding: 0 10px;

      .btn {
        position: relative;
        left: 8px;
        top: 0;
      }
    }
  }

  .exchanges-order-history {
    font-size: 14px;
    padding: 40px 10px;

    .fa-exchange {
      position: absolute;
      margin-top: 38px;
    }
    .item {
      border-bottom: solid 1px rgba(255, 255, 255, 0.5);
      padding-bottom: 10px;

      &:last-child {
        border-bottom: none;
      }
      .item-info-details,
      .icon {
        display: inline-block;
      }
      .item-info-details {
        position: relative;
        top: -3px;
      }
      .date,
      .status {
        margin-bottom: 15px;
        font-size: 13px;
        letter-spacing: 0.15px;
      }
      .src,
      .dest {
        display: inline-block;
        width: 50%;
      }
      .dest {
        float: right;
        width: inherit;

        .status {
          text-align: right;
        }
      }
      .icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: solid 2px #fff;
        background: #fff;
        margin-right: 10px;
      }
      .name {
        font-family: 'Helvetica', Helvetica, Arial, serif;
        font-size: 14px;
        color: #fff;
        text-align: left;
        letter-spacing: -0.58px;
        position: relative;
        top: -3px;
      }
      .amount {
        opacity: 0.65;
        font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
        font-size: 13px;
        color: #fff;
        letter-spacing: -0.1px;
        line-height: 16px;
        font-weight: 300;
        position: relative;
        top: 1px;
      }
    }
  }
  .col-warning {
    color: #fb8c00;
  }
  .menu-back {
    top: -93px;
    z-index: 200;
  }
}