.claim-interest {
  .btn-back {
    top: 0;
  }
  .green {
    color: #66bb6a;
  }
  .red {
    color: #f96868;
  }
  .locktime-icon {
    font-size: 20px;
  }
  .color-warning {
    color: #ff9800;
  }
  table {
    td,
    th {
      text-align: center;
    }
  }
}