.form {
  &.login {
    .login-create-pin {
      .create-wallet {
        .fa-qrcode {
          position: absolute;
          font-size: 24px;
          margin-top: 25px;
          margin-left: 0;
          background: #373A4C;
          padding: 8px 12px;
        }
        .fa-trash {
          position: absolute;
          font-size: 24px;
          margin-top: -36px;
          margin-left: 0;
          background: #373A4C;
          padding: 8px 12px;
        }
        .seed-words-block {
          margin-top: 20px;
          padding: 10px;
          line-height: 25px;

          span {
            background: #373A4C;
            padding: 5px 12px;
            margin: 10px 8px;
            display: inline-block;
          }
        }
      }
      .create-wallet-security-tip {
        margin-top: 30px;
        text-align: center;
        font-size: 14px;
      }
      .seed-gen-box {
        background-color: #373A4C;
        height: auto;
        width: auto;
        margin: 0;
        margin-top: 55px;
        font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
        font-size: 16px;
        color: #fff;
        text-align: justify;
        line-height: 26px;
        padding: 20px 20px;
      }
      .restore-seed-verify {
        font-size: 14px;

        span {
          float: right;
          border-bottom: dashed 1px;
          font-size: 13px;
          margin-right: 5px;
        }
      }
      .menu-back {
        position: fixed;
        top: 4px;
        z-index: 400;
      }
      .scan-qr {
        top: 0;
      }
      .title {
        padding: 30px 0 0 0;
        top: 0;
      }
      .group {
        position: inherit;
        top: 0;
        left: 0;

        input {
          width: 100%;
        }
      }
      .group3:last-child {
        top: 0;
        margin-top: 40px;
      }
    }
  }
}