body {
  background-color: #4c4f69;
  color: #fff;
  font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

.nav-menu {
  position: absolute;
  top: 5px;
  background: #ccc;
  z-index: 100;
}

.dashboard-refresh {
  position: absolute;
  top: 115px;
  right: 13px;
  z-index: 10;
  font-size: 20px;
  display: none;
}

.text-center {
  text-align: center;
}

.error {
  color: rgba(255, 117, 117, 1.0) !important;
  font-size: 14px;

  .fa {
    margin-right: 5px;
  }
}
.warning {
  color: #f2a654;
  font-size: 14px;
}
.success {
  color: rgba(142, 204, 96, 1.0) !important;
  font-size: 14px;

  .fa {
    margin-right: 5px;
  }
}
.hide {
  display: none;
}

div[disabled],
button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.con-error {
  font-size: 16px;
  text-align: center;
  margin-top: 40px;

  .fa {
    margin-right: 5px;
  }
}

.fs14 {
  font-size: 14px !important;
}
.lh25 {
  line-height: 25px;
}

.form {
  .group3 {
    position: inherit;
    height: 60px;
    width: 100%;
    text-align: center;
    margin-top: 55px;
    
    .btn-inner {
      background-color: #acaebf;
      height: 42px;
      display: inline-block;
      padding: 0 20px;

      .group2 {
        float: right;
        margin-top: 12px;
        top: 2px;
        left: 0;
        position: relative;
      }
      .btn {
        position: inherit;
        float: left;
        margin-top: 12px;
        font-size: 16px;
        padding-right: 38px;
      }
    }
  }
}

.sz350 {
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
}

a {
  text-decoration: none
}

div {
  -webkit-text-size-adjust: none
}

.group3 {
  &.retrying {
    .fa {
      animation: rotate 1s linear infinite;        
    }
  }
}

.width-limit {
  width: 90%;
  margin: 0 auto;
}