body {
  background-color: #45485F;
  color: #fff;
  font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
  color: white;
}

.nav-menu {
  position: absolute;
  top: 5px;
  background: #ccc;
  z-index: 100;
}

.dashboard-refresh {
  position: absolute;
  top: 117px;
  right: 11px;
  z-index: 10;
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.error {
  color: rgba(255, 117, 117, 1.0);
  font-size: 14px;

  .fa {
    margin-right: 5px;
  }
}
.warning {
  color: #f2a654;
  font-size: 14px;
}
.hide {
  display: none;
}