.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-45 {
  margin-bottom: 45px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-55 {
  margin-bottom: 55px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-35 {
  margin-top: 35px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-45 {
  margin-top: 45px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-top-55 {
  margin-top: 55px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-25 {
  margin-left: 25px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-left-35 {
  margin-left: 35px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-left-45 {
  margin-left: 45px;
}
.margin-left-50 {
  margin-left: 50px;
}
.margin-left-55 {
  margin-left: 55px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-25 {
  margin-right: 25px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-35 {
  margin-right: 35px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-right-45 {
  margin-right: 45px;
}
.margin-right-50 {
  margin-right: 50px;
}
.margin-right-55 {
  margin-right: 55px;
}