.form.pin-override {
  .edit {
    width: 95%;
    padding: 10px 10px 10px 10px;
  }
  .group3 {
    top: 0;
    left: 0;
    position: relative;
    margin: 0 auto;

    .fa {
      font-size: 20px;
      position: relative;
      top: -4px;
    }
  }
}