.receive-qr {
  position: absolute;
  left: 0;
  top: 60px;
  background:rgb(76, 79, 105);
  width: 100%;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;

  .text-center {
    margin-top: 30px;
  }
}