.form.recovery {
  .seed-gen-box {
    background-color: #373A4C;
    height: auto;
    width: auto;
    margin: 0;
    font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
    font-size: 16px;
    color: #fff;
    text-align: left;
    line-height: 26px;
    padding: 20px 20px;
    overflow-x: auto;
  }
  .edit {
    width: 95%;
    padding: 10px 10px 10px 10px;
  }
  .group3 {
    top: 0;
    left: 0;
    position: relative;
    margin: 0 auto;

    .fa {
      font-size: 20px;
      position: relative;
      top: -4px;
    }
  }
  .recovery-priv-keys {
    .seed-gen-box {
      padding: 10px 10px;
      font-size: 14px;
      word-break: break-all;
    }
  }
  .decoded-seed {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
  }
  .switch-block {
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}