.send {
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  .btn-back-block {
    margin-bottom: 20px;
    
    .btn-back {
      position: relative;
      top: 0;
      left: -6px;
      z-index: 99;
    }
  }
  .table {
    tr {
      display: block;

      td,
      th {
        display: inline-block;

        &:first-child,
        &:first-child {
          width: 70px;
        }
        &:last-child,
        &:last-child {
          width: calc(100vw - 92px);
          overflow-x: auto;
        }
      }
    }
  }
  .panel-title {
    padding: 0;
  }
  .panel-body {
    padding: 0 10px;
  }
  .steps-counter {
    padding: 0;
    margin: 0;
    float: none;
  }
  .send-step {
    margin-left: 32px;
    padding: 0;
    margin: 0;
  }
  .panel-heading {
    padding: 0 10px !important;    
    border: none;
  }
  .panel {
    box-shadow: none;
  }
  .step-title {
    padding-bottom: 20px;
  }
  .step {
    padding: 22px;
    width: 33.3%;
    float: left;
  }
  .steps {
    box-shadow: none;
  }
}