.form.server-select {
  text-align: center;
  margin-top: 80px;

  .group3 {
    top: 0;
    left: 0;
    position: relative;
    margin: 0 auto;

    .fa {
      font-size: 20px;
      position: relative;
      top: -4px;
    }
  }
  .server-select-inner {
    width: 100%;
    border-top: solid 2px #5F6277;
    margin-top: 20px;
    padding-top: 20px;
  }
  .margin-top-20.margin-bottom-10.text-center {
    font-size: 14px;
  }
}