.form.settings {
  .group3 {
    top: 0;
    left: 0;
    position: relative;
    margin: 0 auto;

    .fa {
      font-size: 20px;
      position: relative;
      top: -4px;
    }
  }
  .item {
    border-bottom: solid 2px #5F6277;
    padding: 30px 0 40px 10px;

    &.item--sm {
      padding: 30px 0 30px 10px;
    }
    &.last {
      padding: 30px 0 40px 10px;
      border: none;
    }
  }
}

.addcoin-ui {
  &.settings-coins {
    .home {
      .overview-coins {
        top: 0;
        padding-bottom: 25px;

        .switch-block {
          position: absolute;
          display: inline-block;
          right: 20px;
          margin-top: 30px;
        }
      }
    }
    .menu-back {
      position: fixed;
      top: 4px;
      z-index: 400;
    }
  }
}

.settings-pin,
.settings-user-agreement,
.settings-about {
  .menu-back {
    position: fixed;
    top: 4px;
    z-index: 400;
  }
}

.settings-user-agreement {
  .home {
    background-color: #383a4e;
    text-align: justify;

    .home-inner {
      padding: 10px;
    }
  }
}

.settings-support {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  margin-top: -16px;
  opacity: 0;
}

.settings-about {
  .home {
    background-color: #383a4e;

    .home-inner {
      padding: 10px;

      .app-logo,
      .app-name,
      .app-version,
      .app-copy {
        text-align: center;
      }

      .app-logo {
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .app-version {
        margin-top: 5px;
      }
      .app-copy {
        margin-top: 25px;
        font-size: 14px;
      }
    }
  }
  .about-change-log-link-block {
    padding: 25px 0 10px 0;
    text-align: center;

    a {
      font-size: 14px;
      border-bottom: dashed 1px;
    }
  }
}

.about-change-log {
  padding-top: 20px;

  h4 {
    margin: 10px 0;
    padding-bottom: 7px;
  }

  ul {
    font-size: 14px;

    li {
      padding-bottom: 10px;
      line-height: 25px;
    }
  }
}

.pin-confirm {
  text-align: center;
  margin-top: 20px;
  border: dashed 1px rgba(255, 255, 255, 0.4);
  padding-top: 32px;
  margin-bottom: 60px;

  .pin-confirm-title {
    margin-bottom: 14px;
    font-size: 14px;
  }
}