.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

   input {
    display: none;
  }
}

.slider {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383a4e;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
  &:before {
    border-radius: 50%;
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #ACAEBF;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.toggle-label {
  color: #fff;
  display: inline-block;
  position: relative;
  top: -6px;
  left: 12px;
}

input:checked + .slider {
  background-color: #262733;

  &:before {
    background-color: #fff;
  }
}

input:focus + .slider {
  box-shadow: 0 0 1px #262733;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}